commands:
  x01_pip_upgrade:
    command: |
      /opt/python/run/venv/bin/pip install --upgrade pip
      sudo cp /opt/python/run/venv/bin/pip /usr/bin/
    ignoreErrors: true
  x02_setuptools_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade setuptools
    ignoreErrors: true
  x03_install_chromedriver: 
    command: |
      wget https://chromedriver.storage.googleapis.com/2.37/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
    cwd: /tmp
    ignoreErrors: true
  x04_movechrome_driver:
    command: sudo mv chromedriver /usr/bin/
    cwd: /tmp
    ignoreErrors: true
  x05_install_google_chrome:
    command: curl https://intoli.com/install-google-chrome.sh | bash
    cwd: /tmp
    ignoreErrors: true
  x06_movechrome:
    command: sudo mv /usr/bin/google-chrome-stable /usr/bin/google-chrome
    cwd: /tmp
    ignoreErrors: true
